.container{
    width: 100%;
    height: 100vh;
    background: url('/categories.svg');
    background-position: center;
    background-size: cover;
    object-fit: contain;
    overflow-x: hidden !important;
}